---
layout: archive
title: "Talks and presentations"
permalink: /talks/
author_profile: true
---

{% if site.talkmap_link == true %}

<p style="text-decoration:underline;"><a href="/talkmap.html">See a map of all the places I've given a talk!</a></p>

{% endif %}

{% for post in site.talks reversed %}
  {% include archive-single-talk.html %}
{% endfor %}

## Oral presentations


[1] Qingtao Chen, et al. High focusing-reflection subwavelength gratings with uni-traveling-carrier photodetector for high responsivity.  <br>
Asia Communications and Photonics Conference (ACP), November 2nd-5th, 2019, Chengdu, China. <br>

[2] Qingtao Chen, et al. High-speed uni-traveling-carrier photodetector with the new design of absorber and collector.  <br>
The 20th OptoElectronics and Communications Conference (OECC), June 28th-July 2nd, 2015, Shanghai, China. <br>

## Poster presentations

[1] Qingtao chen, et al. FS Laser Writing of 2nd-order line-Bragg Grating.  <br>
The 6th Montreal Photonics Networking Event, in École de technologie supérieure ÉTS, December 2nd, 2022, Montreal, Canada.  <br>

[2] Qingtao Chen, et al. FS Laser Writing of Waveguides with Bragg Gratings.  <br>
“2022 Innovation day” of SPIE student chapter (Polytechnique Montreal), October 7th, 2022, Montreal, Canada. (Best Poster Award)  <br>

[3] Qingtao Chen, et al. FS Laser Writing of Waveguides with Bragg Gratings.  <br>
COPL 2022 Annual Conference, June 16th, 2022, Montreal, Canada.  <br>

[4] Qingtao Chen, et al. Femtosecond Laser Tailoring of Waveguides in Low-Iron Glass. 
STARaCom Annual General Meeting, May 18th, 2022, Montreal, Canada.   <br>

